@model IList<FavoriteParksVM>
@{
    ViewData["Title"] = "FavoriteParks";
}

<h2>Favorite Parks</h2>

@foreach (FavoriteParksVM park in Model)
{
    if (park.SurveyCount >= 1)
    {
            <div class="park-list">
                <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@(park.ParkCode)">
                    <img src="~/images/parks/@(park.ParkCode).jpg" class="list-image" alt="@park.ParkName Photo">
                </a>
                <p class="favorite-park-head">@(park.ParkName)</p>
                <p class="favorite-park-content">Survey Count: @(park.SurveyCount)</p>
            </div>
    }
}