@model DetailViewModel
@{
    ViewData["Title"] = "Home Page";
}
<section>
    @foreach (Park park in Model.Parks)
    {
        <div class="park-list">
            <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@(park.ParkCode)">
                <img src="~/images/parks/@(park.ParkCode).jpg" class="list-image" alt="@park.ParkName Photo">
            </a>
            <div>
                <p class="park-head">@park.ParkName</p>
                <p class="park-info">@park.ParkDescription</p>
            </div>
        </div>
     }
</section>
